.container
  %h1 Listing Feeds
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab_rss"} RSS
    %li
      %a{"data-toggle" => "tab", :href => "#tab_tweets"} Tweets
    .tab-content
      #tab_rss.tab-pane.fade.in.active.col.s12
        = render "tab_rss", feeds: @feeds.rss
      #tab_tweets.tab-pane.fade.in.col.s12
        = render "tab_rss", feeds: @feeds.tweets
  = link_to 'New Feed', new_feed_path, class:  'btn btn-info'
