<%= simple_form_for :tags do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   
    <%= f.text_field :tag,  class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
